<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type1:</strong>
  <%= type_name(@pokemon.type1) %>
</p>

<p>
  <strong>Type2:</strong>
  <%= type_name(@pokemon.type2) %>
</p>

<p>
  <strong>Dexno:</strong>
  <%= @pokemon.dexno %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
