<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Online 4 Hours" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Online 4 Hours" %>">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
